name: Build & Push Docker Images

on: 
    push:
        branches:
            - main

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write

        steps:
            - name: Checkout source
              uses: actions/checkout@v4

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}

            #------------ Backend -------------
            - name: Build Backend image
              run: |
                docker build -t ghcr.io/${{ github.repository }}-backend:latest ./backend
                
            - name: Push Backend image
              run: |
                docker push ghcr.io/${{ github.repository }}-backend.latest

            #----------- Frontend  ----------
            - name: Build Frontend image
              run: |
                docker build -t ghcr.io/${{ github.repository }}-frontend:latest ./frontend

            - name: Push frontend Image
              run: |
                docker push ghcr.io/${{ github.repository }}-frontend:latest

              

