name: Deploy to EC2

on:
    workflow_run:
        workflows: ["Build & Push Docker Images"]
        types:
            - completed

jobs:
    deploy:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest

        steps:
            - name: SSH into the server and deploy
              uses: appleboy/ssh-action@v1.0.0
              with:
                  host: ${{ secrets.SERVER_HOST }}
                  username: ${{ secrets.SERVER_USER }}
                  key: ${{ secrets.SSH_PRIVATE_KEY }}
                  port: 22
                  script: |
                      # Login to GHCR
                      echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u renela --password-stdin

                      cd ~/app
                      docker compose pull
                      docker compose up -d --build --remove-orphans
                      docker system prune -f
